node_modules
npm-debug.log
public
apps/**/translations/**/default.json
LICENSE.md
README.md
CONTRIBUTING.md
Dockerfile
.dockerignore
docker-compose.yml
.devcontainer
.cache
.drone.yml
bin
kube
yarn-error.log
.DS_Store
.git
.gitignore
.npmrc
test
jest.config.json
jest.env.js
coverage
sonar-project.properties
pull-request-template.md
hof-services-config
