public
apps/verify/behaviours/email-lookup-sender.js
apps/verify/models/save-token.js
apps/verify/util/check-email-ext.js
config.js
ms-lists
node_modules
apps/**/translations/**/default.json
apps/**/acceptance/**/*.js
LICENSE
README.md
CONTRIBUTING.md
coverage
