public
apps/*/translations/*
!apps/*/translations/src
node_modules/
.env
.vscode/*
acceptance-test/temp-downloads/
.idea/vcs.xml
.idea/workspace.xml
dump.rdb
.scannerwork/
.nyc_output/
.idea
.DS_Store
coverage
output/
*.iml
.vscode
.vscode-server
yarn-error.log
apps/**/translations/**/*
!apps/**/translations/src/
!apps/**/translations/src/**/*
test/_accessibility/tmp/*
.devcontainer/*.env
