{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "check-coverage": true,
  "statements": 61,
  "branches": 59,
  "functions": 32,
  "lines": 61,
  "exclude": [
    "test/**/*.js",
    "apps/**/sections/**/*.js",
    "apps/**/fields/**/*.js"
  ]
}
