version: "2"
services:
  app:
    build: .
    environment:
      - NODE_ENV=docker-compose
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    links:
      - redis
    ports:
      - "8080:8080"
    volumes:
      - "/public"
  redis:
    image: redis
