$path: "../img/";

@import "../../node_modules/hof/node_modules/hmpo-frontend-toolkit/assets/stylesheets/app.scss";

@import "./alert.scss";
@import "./icons.scss";
@import "./validation.scss";


.phase-banner {
  @include phase-banner(beta);
}

#step {
  @include core-16;
  a {
    display: inline-block;
    margin-top: $gutter-half;
    padding-left: 14px;
    border-bottom: $black 1px solid;
    color: $black;
    text-decoration: none;
    background: url("../images/icons/icon-caret-left.png") no-repeat 0 4px;
    @include media(mobile) {
      background-position: 0 1px;
    }
    margin-right: 14px;
  }

  span {
    display: inline-block;
    margin-top: $gutter-half;
    color: $secondary-text-colour;
  }
}

h1 {
  @include bold-24;
}

.form-label-bold {
  @include core-19;
}

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

//custom form styling
.form-control {
  padding: 0.5em;

  @include media(desktop) {
    width: 65%;
  }
}

.form-group {
  margin-bottom: 15px;
}

// GOVUK Elements `.form-date` overrides
.form-date {
    border-left: none;
    padding-left: 0;

    label {
        @include core-19();
    }

    .form-group {
        input {
            &[id$="-year"] {
                width: 70px;
            }
        }
    }
}

#delivery-details {
  width: 100%;
}

.highlighted-result {
  background-color:#28a197;
  color: white;
  font-size: 18px;
  text-align:center;
  padding:19px;
}

.highlighted-result h1 {
  font-size: 38px;
  font-weight: 700;
}

@media print {
  .no-print, .noprint * {
    display: none !important;
  }
}
.are-dropdown select {
    background: #dee0e2;  //grey
    background: white;
    font-size: 19px;
//    margin-left: 5px;
//    font-family: 'Cabin', sans-serif;
    height: 30px;
    width: 150%;
}

.exclusion-day-header {
  width: 100%;
  background: #dee0e2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.appeal-stage-header {
  width: 100%;
  background: #dee0e2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.appeal-stages-table {
  width: 100%;
  tbody {
    td:nth-child(1) {
      width: 15%;
    }
    td:nth-child(2) {
      width: 65%;
    }
    td:nth-child(3) {
      text-align: right;
      padding-right: 0;
    }
  }
}

.table-details {
  width: 100%;

  tbody {
    td:nth-child(1) {
      width: 20%;
    }
    td:nth-child(2) {
      width: 60%;
    }
    td:nth-child(3) {
      text-align: right;
      padding-right: 0;
    }
  }

.button {
  margin: 0;
  background: #dde0e1;
  color: #000;
}



@media print {
    .no-print, .no-print *
      {
          display: none !important;
      }
  }
}
