{{<layout}}

{{$header}}
  Cookies
{{/header}}

{{$content}}
  <p>This service puts small files (known as ‘cookies’) onto your computer in order to:</p>
  <ul class="list-bullet">
    <li>remember what messages you’ve seen so you’re not shown them again</li>
    <li>understand how you use the service so we can update and improve it</li>
    <li>temporarily store information you enter to support your application</li>
  </ul>
  <div class="panel-indent">
    <p>The cookies we use don’t identify you personally.</p>
  </div>
  <p>Find out <a href="http://www.aboutcookies.org/Default.aspx?page=1" rel="external">how to manage cookies</a>.</p>

  <h2>Introductory cookie message</h2>
  <p>When you first use the service we show a ‘cookie message’. We then store a cookie on your computer so it knows not to show this message again.</p>
  <table>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
      <tr>
        <td>seen_cookie_message</td>
        <td>Lets us know you’ve already seen our cookie message</td>
        <td>1 month</td>
      </tr>
    </tbody>
  </table>

  <h2>Measuring site use</h2>
  <p>We use Google Analytics to collect information about how you use this service. This helps us check it’s meeting your needs and make improvements.</p>
  <p>Google Analytics stores information about:</p>
  <ul class="list-bullet">
    <li>how you got to the site</li>
    <li>pages you visit and how long you spend on them</li>
    <li>what you click on</li>
  </ul>
  <p>No personal details are stored with this information, so you can’t be identified.</p>
  <table>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
      <tr>
        <td>_ga</td>
        <td>Used to distinguish users</td>
        <td>2 years</td>
      </tr>
      <tr>
        <td>_gat</td>
        <td>Used to throttle request rate</td>
        <td>10 minutes</td>
      </tr>
    </tbody>
  </table>
  <div class="panel-indent">
    <p>Google isn’t allowed to use or share our analytics data.</p>
  </div>
  <p>You can <a href="https://tools.google.com/dlpage/gaoptout" rel="external">opt out of Google Analytics cookies</a>.</p>

  <h2>Session cookies</h2>
  <p>We store session cookies on your computer to help keep your information secure while you use the service.</p>
  <table>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
      <tr>
        <td>hmare.sid</td>
        <td>Stores a session ID and temporarily stores data you enter to enable you to make a calculation</td>
        <td>After 20 minutes of inactivity</td>
      </tr>
    </tbody>
  </table>
{{/content}}

{{/layout}}
