{{< govuk-template}}

{{$head}}
    {{> partials-head}}
{{/head}}

{{$pageTitle}}
    {{$header}}{{/header}} &ndash; GOV.UK
{{/pageTitle}}

{{$headerClass}}with-proposition{{/headerClass}}
{{$insideHeader}}{{/insideHeader}}

{{$main}}
  <main id="content" class="main" role="main">
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="https://eforms.homeoffice.gov.uk/outreach/feedback.ofml?FormName=ARE_Calculator_Beta_feedback">
          feedback</a> will help us to improve it.</span>      </p>
    </div>
    <span id="step">
      {{> partials-back}} <span>{{$step}}{{/step}}</span>
    </span>
    <div class="grid-row">
      {{> partials-maincontent-left}}
    </div>

     {{> partials-gatag}}

    <script type="text/javascript" src="{{#url}}/../public/js/bundle.js{{/url}}"></script>
  </main>
{{/main}}

{{$footerSupportLinks}}
  <ul>
    <li><a href="{{#url}}/../cookies{{/url}}">Cookies</a></li>
    <li><a href="{{#url}}/../terms-and-conditions{{/url}}">Terms and conditions</a></li>
  </ul>
{{/footerSupportLinks}}

{{/ govuk-template}}
