{{<layout}}

{{$header}}
  Terms and conditions
{{/header}}

{{$content}}
  <h2>How we use your information</h2>
  <p>The data you provide is used in accordance with the <a href="https://www.gov.uk/government/organisations/home-office/about/personal-information-charter" rel="external">Home Office's personal information charter</a>. This includes information about the applicant and any person sponsoring their application. The Home Office is the data controller, which means that it decides how this information will be used and stored. The information will be held in confidence and handled in accordance with the Data Protection Act 1998.</p>

  <p>The information will be used to help:</p>
  <ul class="list-bullet">
    <li>make a decision on an application</li>
    <li>prevent and detect crime</li>
  </ul>

  <p>Your information may be passed on to third parties, government departments, local authorities, foreign governments and public bodies for the purpose of:</p>
  <ul class="list-bullet">
    <li>confirming that the information you have provided is accurate</li>
    <li>preventing and detecting crime, including fraud and money laundering</li>
    <li>allowing a third party, government department, local authority or public body to carry out their work
  staff training</li>
  </ul>

  <p>The Home Office reserves the right to gather information relating to site usage. Any information gathered is mainly for internal use, for example, to improve customer service.</p>

  <h2>References to countries and nationalities</h2>
  <p>A country or territory may be listed as a nationality or country because it has a passport-issuing authority.</p>
{{/content}}

{{/layout}}