{{<layout}}

  {{$propositionHeader}}{{/propositionHeader}}

  {{$header}}
    {{header}}
  {{/header}}

  {{$content}}
    <p class="govuk-body">This service is run by the Home Office. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We’ve also made the text as simple as possible to understand.</p>
    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p> 
    <h3 class="govuk-heading-m">Reporting accessibility problems with this service</h3>
    <p class="govuk-body">We’re always looking to improve the accessibility of our services. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email: <a href="mailto:hof-accessibility@digital.homeoffice.gov.uk">hof-accessibility@digital.homeoffice.gov.uk</a>.</p>
    <h3 class="govuk-heading-m">Enforcement procedure</h3>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, 
    <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
    <p class="govuk-body">If you are in Northern Ireland and are not happy with how we respond to your complaint you can contact the
    <a href="https://www.equalityni.org/Home"> Equalities Commission for Northern Ireland</a> who are responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’) in Northern Ireland.
    </p>
    <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
    <p class="govuk-body">The Home Office is committed to making its online services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">This service is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines (WCAG) 2.2</a> due to the non-compliances listed below.</p>
    <h2 class="govuk-heading-m">Non-accessible content</h2>
    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
    <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>
    <p class="govuk-body">We are aware of and working to address the following issues.</p>
    <p class="govuk-body">The session timeout of 30 minutes cannot be changed, and the user is not alerted when it is running out. This is for each individual page of the form, not the form overall. This does not meet WCAG 2.2 – Enough Time.</p>
    <p class="govuk-body">If you find an issue that we have yet to identify, please contact us using one of the routes described in the ‘Reporting accessibility problems with this website’ section of this statement.</p>    
    <h3 class="govuk-heading-m">Disproportionate burden</h3>
    <p class="govuk-body">Not applicable.</p>
    <h3 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h3>
    <p class="govuk-body">Not applicable.</p>
    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was prepared on 1 June 2020. It was last reviewed on 03 December 2024.</p>
    <p class="govuk-body">This website was last tested on 07 December 2024. The test was carried out internally by the Home Office.</p>
    <p class="govuk-body">We tested the service based on a user's ability to complete key journeys. All parts of the chosen journeys were tested, including documents. Journeys were chosen on a number of factors including usage statistics, risk assessments and subject matter.</p>
  {{/content}}
{{/layout}}
