{{<layout}}

  {{$propositionHeader}}{{/propositionHeader}}

  {{$header}}
    {{header}}
  {{/header}}

  {{$content}}
    <p class="govuk-body">This service is run by the Home Office. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}accessibility.intro-p2-li1{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li2{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li3{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li4{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li5{{/t}}</li>
    </ul>
    <p class="govuk-body">{{#t}}accessibility.intro-p3-pre-link{{/t}} <a href="https://mcmw.abilitynet.org.uk/">{{#t}}accessibility.intro-p3-link{{/t}}</a> {{#t}}accessibility.intro-p3-post-link{{/t}}</p>
    <p class="govuk-body govuk-!-font-weight-bold">Reporting accessibility problems with this service</p>
    <p class="govuk-body">We’re always looking to improve the accessibility of our services. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email: <a href="mailto:hof-accessibility@digital.homeoffice.gov.uk">hof-accessibility@digital.homeoffice.gov.uk</a>.</p>
    <p class="govuk-body govuk-!-font-weight-bold">Enforcement procedure</p>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, 
      <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
      If you are in Northern Ireland and are not happy with how we respond to your complaint you can contact the
      <a href="https://www.equalityni.org/Home">the Equalities Commission for Northern Ireland</a> who are responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’) in Northern Ireland.
    </p>
    <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
    <p class="govuk-body">The Home Office is committed to making its online services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">This service is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines (WCAG) 2.2</a> due to the non-compliances listed below.</p>
    <h2 class="govuk-heading-m">Non-accessible content</h2>
    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
    <p class="govuk-body govuk-!-font-weight-bold">Non-compliance with the accessibility regulations</p>
    <p class="govuk-body">We are aware of and working to address the following issues.</p>
    <p class="govuk-body">On several pages, we have identified an issue where some elements may not function as expected (use invalid ARIA roles) which may cause screen readers to misinterpret or ignore these elements. This does not meet WCAG 4.1.2 – Name, Role, Value.</p>
    <p class="govuk-body">The session timeout of 30 minutes cannot be changed, and the user is not alerted when it is running out. This is for each individual page of the form, not the form overall. This does not meet WCAG 2.2 – Enough Time. If you find an issue that we have yet to identify, please contact us using one of the routes described in the ‘Reporting accessibility problems with this website’ section of this statement.</p>
    <p class="govuk-body govuk-!-font-weight-bold">Disproportionate burden</p>
    <p class="govuk-body">Not applicable.</p>
    <p class="govuk-body govuk-!-font-weight-bold">Content that’s not within the scope of the accessibility regulations</p>
    <p class="govuk-body">Not applicable.</p>
    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was prepared on 1 June 2020. It was last reviewed on 16 September 2024.</p>
    <p class="govuk-body">This website was last tested on 2 April 2024. The test was carried out internally by the Home Office.</p>
    <p class="govuk-body">We tested the service based on a user's ability to complete key journeys. All parts of the chosen journeys were tested, including documents. Journeys were chosen on a number of factors including usage statistics, risk assessments and subject matter.</p>
  {{/content}}
{{/layout}}
