{{<layout}}

{{$header}}
  {{#t}}pages.reference-links.appeal-stages{{/t}}
{{/header}}

{{$content}}
  <h1>{{values.reference-appeal-list.label}}</h1>

<p>
  This table shows the <strong>{{values.reference-appeal-list-count}}</strong>
  appeal stage types and the set number of succeeding days during which an
  appeal can be made. These numbers are used to determine the ARE date,
  however exclusion dates may also need to be factored into the calculation.
</p>
  <table>
    {{#values.reference-appeal-list}}
    <tr>
   <td>{{label}}</td>
   <td>{{trigger}}</td>
   <td>{{rules}}</td>
   <td>{{ruleNumber}}</td>
   <td>{{timeLimit.value}} {{timeLimit.type}}</td>

   </tr>
   {{/values.reference-appeal-list}}
 </table>

{{/content}}

{{/layout}}
