{{<layout}}

{{$pageTitle}}
  {{#t}}pages.reference-links.appeal-stages{{/t}}
{{/pageTitle}}

{{$content}}
<header><h1>{{#t}}pages.reference-links.appeal-stages{{/t}}</h1></header>
<p>
  This table shows the <strong>{{values.reference-appeal-list-count}}</strong>
  appeal stage types and the set number of succeeding days during which an
  appeal can be made. These numbers are used to determine the ARE date,
  however exclusion dates may also need to be factored into the calculation.
</p>

{{#values.reference-appeal-list}}
<div>
  <details class="govuk-details" data-module="govuk-details">
  <summary id="appeal-summary" title="{{value}}" class="appeal-summary-class govuk-details__summary govuk-!-width-full">
    <h2 class="appeal-stage-header govuk-details__summary-text">
      <a name='{{label}}'>{{label}}<a>
    </h2>
  </summary>
  <table id="{{value}}" class="appeal-stages-table js-hidden">
    <tr><td>Trigger</td><td>{{trigger}}</td></tr>
    <tr><td>Based on</td><td>{{startDateLabel}}</td> </tr>
    <tr><td>Rules</td><td>{{rules}}</td> </tr>
    <tr><td>Rule Number</td><td>{{ruleNumber}}</td> </tr>
    <tr><td>Time Limit</td><td>{{timeLimit.value}} {{timeLimit.type}}</td> </tr>
    <tr><td>Admin Allowance</td><td>{{adminAllowance.value}} {{adminAllowance.type}}</td> </tr>
   </table>
   </details>
</div>
{{/values.reference-appeal-list}}

<table><div class=related-container>
</table>
</div>

<div id="reference-list" class="header-context">
  <ol class="group">
    <li><strong>Guidance</strong></li>
    <li><a href="{{#url}}/guidance{{/url}}" class="govuk-link">{{#t}}pages.reference-links.guidance{{/t}}</a></li>
    <li><a href="{{#url}}/exclusiondates{{/url}}" class="govuk-link">{{#t}}pages.reference-links.exclusion-dates{{/t}}</a></li>
 </ol>
</div>
{{/content}}

{{/layout}}
