{{<layout}}
{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}
  {{#t}}pages.reference-links.appeal-stages{{/t}}
{{/header}}

{{$content}}
  <h1>{{values.reference-appeal-list.label}}</h1>

<p>
  This table shows the <strong>{{values.reference-appeal-list-count}}</strong>
  appeal stage types and the set number of succeeding days during which an
  appeal can be made. These numbers are used to determine the ARE date,
  however exclusion dates may also need to be factored into the calculation.
</p>

{{#values.reference-appeal-list}}
<h3 class="appeal-stage-header"><a name='{{label}}'>{{label}}<a></h3>
  <table id="appeal-stages" class="appeal-stages-table">
    <tr><td>Trigger</td><td>{{trigger}}</td> </tr>
    <tr><td>Based on</td><td>{{startDateLabel}}</td> </tr>
    <tr><td>Rules</td><td>{{rules}}</td> </tr>
    <tr><td>Rule Number</td><td>{{ruleNumber}}</td> </tr>
    <tr><td>Time Limit</td><td>{{timeLimit.value}} {{timeLimit.type}}</td> </tr>
    <tr><td>Admin Allowance</td><td>{{adminAllowance.value}} {{adminAllowance.type}}</td> </tr>
   </table>
   <div>
     <br>
     {{#backLink}}
       <a href="{{#url}}{{backLink}}{{/url}}">&lt Back</a>
     {{/backLink}}
   <div>


 <br>
 {{/values.reference-appeal-list}}

{{/content}}

{{/layout}}
