{{<layout}}result
{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$header}}{{#t}}pages.result.header{{/t}}{{/header}}

{{$content}}

{{<partials-form}}

{{$form}}
<div class="highlighted-result">
  <h1><B>{{values.are-date}}</B></h1>

  {{#values.are-after-last-exclusion-date}}
  <br><i>{{#t}}pages.result.are-after-last-exclusion-date{{/t}}</i>
  {{/values.are-after-last-exclusion-date}}
</div>

<table id="summary" class="table-details">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td>{{#t}}pages.result.table.headers.country-of-hearing{{/t}}</td>
        <td>
            <B>{{values.country-of-hearing}}</B>
        </td>
        <td>
            <a href="first-page/edit#country-of-hearing" class="button no-print"
              id="country-of-hearing-change">{{#t}}buttons.change{{/t}}</a>
        </td>
    </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{#t}}pages.result.table.headers.appeal-stage{{/t}}
              <br><a href="appealstages#{{values.appeal-stage-label}}">(Details)</a>
          </td>
          <td>
              {{values.appeal-stage-label}}
          </td>
          <td>
            <a href="first-page/edit#appeal-stage"
               class="button no-print" id="appeal-stage-change">{{#t}}buttons.change{{/t}}</a>
          </td>
      </tr>
    <tr>
        <td>{{#t}}pages.result.table.headers.display-start-date{{/t}}</td>
        <td>
            {{values.base-date}}
            {{#values.base-before-earliest-exclusion-date}}
            <br><i>{{#t}}pages.result.base-before-earliest-exclusion-date{{/t}}</i>
            {{/values.base-before-earliest-exclusion-date}}
        </td>
        <td><a href="first-page/edit#start-date-day"
               class="button no-print" id="start-date-day-change">{{#t}}buttons.change{{/t}}</a>
        </td>
    </tr>
    <tr>
        <td>{{#t}}pages.result.table.headers.start-date{{/t}}</td>
        <td>
            <strong>{{values.start-date}}</strong>
        </td>
        <td></td>
    </tr>
  </tbody>
</table>

<P><P>{{#input-submit}}start-again{{/input-submit}}
  <h3>  {{#t}}pages.result.description{{/t}}</h3>
  <table id="supporting-info" class="table-details">
      <tbody>
      <tr>
          <td>{{#t}}Based on{{/t}}</td>
          <td>
              {{values.start-date-label}}
          </td>
          <td></td>
      </tr>    <tr>
          <td>{{#t}}pages.result.table.headers.time-limit{{/t}}</td>
          <td>
              {{values.time-limit-value}} {{values.time-limit-type}}
          </td>
          <td></td>
      </tr>
      <tr>
          <td>{{#t}}pages.result.table.headers.rules{{/t}}</td>
          <td>
              {{values.rules}}
          </td>
          <td></td>
      </tr>
      <tr>
          <td>{{#t}}pages.result.table.headers.ruleNumber{{/t}}</td>
          <td>
              {{values.ruleNumber}}
          </td>
          <td></td>
      </tr>
      <tr>
          <td>{{#t}}pages.result.table.headers.admin-allowance{{/t}}</td>
          <td>
              {{values.admin-allowance-value}} {{values.admin-allowance-type}}
          </td>
          <td></td>
      </tr>
      <tr>
          <td>{{#t}}pages.result.table.headers.trigger{{/t}}</td>
          <td>
              {{values.trigger}}
          </td>
          <td></td>
      </tr>
      <tr>
          <td>{{#t}}pages.result.table.headers.number-of-exclusion-dates-applied{{/t}}</td>
          <td>
              {{values.number-of-exclusion-dates-applied}}
          </td>
          <td></td>
      </tr>
      <tr>
          <td>{{#t}}pages.result.table.headers.excluded-dates{{/t}}</td>
          <td>

            {{#values.excludedDates}}
            <p>{{.}}</p>
            {{/values.excludedDates}}

            {{^values.excludedDates}}
            <p>None</p>
            {{/values.excludedDates}}

          </td>
          <td></td>
     </tr>

      </tbody>
  </table>


<p><p><p>
  <h3>{{#t}}pages.result.exclusion-date-range{{/t}}</h3><P>
  {{values.exclusion-date-range}}
<p><p>
  <table><div class=related-container>
  </table>
  </div>
  <div id="reference-list" class="header-context">
     <ol role="guidance" class="group">
       <li><strong>Guidance</strong></li>
       <li><a href="guidance">{{#t}}pages.reference-links.guidance{{/t}}</a></li>
       <li><a href="appealstages">{{#t}}pages.reference-links.appeal-stages{{/t}}</a></li>
       <li><a href="exclusiondates">{{#t}}pages.reference-links.exclusion-dates{{/t}}</a></li>
    </ol>
  </div>

{{/form}}


{{/partials-form}}

{{/content}}

{{/layout}}
