{{<layout}}

{{$header}}
  {{#t}}pages.reference-links.exclusion-dates{{/t}}
{{/header}}

{{$content}}
<p>
    Exclusion dates are days when the Tribunal is closed for business and
    is unable to process appeals. An ARE date can’t fall on a weekend or
    an exclusion date
</p>
<p>
  For example, if the type of decision and appeal stage permits the person
  14 days to make an appeal, but that date is a bank holiday Monday, the
  ARE date will be the following suitable date. In most cases, this would
  be the Tuesday (as long as the Tuesday isn’t also an Exclusion date).
</p
<p>
  The calculator factors exclusion dates into its calculations. The following
  exclusion dates have been added to the ARE calculator for each
  of the following countries:
</p>

<div>
    <summary id="which-england-and-wales">
      <h3 class="exclusion-day-header">
        <a>{{#t}}pages.reference-links.which-england-and-wales-dates{{/t}}
        ({{values.reference-exclusiondate-list-count-england-and-wales}})</a>
      <h3>
    </summary>
    <table id="england-and-wales-dates" class="panel-indent hidden">
        {{#values.reference-exclusiondate-list-england-and-wales}}
        <tr>
          <td><td>
          <td>{{formattedDate}}</td>
          <td>{{description}}</td>
        {{/values.reference-exclusiondate-list-england-and-wales}}
      </tr>
    </table>
</div>

<div>
    <summary id="which-scotland">
      <h3 class="exclusion-day-header">
        <a>{{#t}}pages.reference-links.which-scotland-dates{{/t}}</a>
        ({{values.reference-exclusiondate-list-count-scotland}})
      </h3>
    </summary>
    <table id="scotland-dates" class="panel-indent hidden">
        {{#values.reference-exclusiondate-list-scotland}}
        <tr>
          <td><td>
          <td>{{formattedDate}}</td>
          <td>{{description}}</td>
        {{/values.reference-exclusiondate-list-scotland}}
      </tr>
    </table>
</div>

<div>
    <summary id="which-northern-ireland">
      <h3 class="exclusion-day-header">
        <a>{{#t}}pages.reference-links.which-northern-ireland-dates{{/t}}
        ({{values.reference-exclusiondate-list-count-northern-ireland}})</a>
      </h3>
    </summary>
    <table id="northern-ireland-dates" class="panel-indent hidden">
        {{#values.reference-exclusiondate-list-northern-ireland}}
        <tr>
          <td></td>
          <td>{{formattedDate}}</td>
          <td>{{description}}</td>
        {{/values.reference-exclusiondate-list-northern-ireland}}
      </tr>
    </table>
</div>


{{/content}}

{{/layout}}
