{{<layout}}

{{$header}}
  Number of exclusion dates: {{values.reference-exclusiondate-list-count}}
{{/header}}

{{$content}}
  <table>
    <th><tr>
      <td>Date</td>
      <td>Description</td>
      <td>England & Wales</td>
      <td>Scotland</td>
      <td>Northern Ireland</td>
    </tr></th>
    {{#values.reference-exclusiondate-list}}
    <tr>
   <td>{{exclusionDate}}</td>
   <td>{{description}}</td>
   <td>{{#England & Wales}}&#9745{{/England & Wales}}</td>
   <td>{{#Scotland}}&#9745{{/Scotland}}</td>
   <td>{{#Northern Ireland}}&#9745{{/Northern Ireland}}</td>
   </tr>
   {{/values.reference-exclusiondate-list}}
 </table>
{{/content}}

{{/layout}}
