{% extends "partials/page.html" %}

{% block page_content %}

  {% for field in fields %}
    {{ renderField(field) }}
  {% endfor %}

{{ inputSubmit("calculate") }}

 <table>
        <div class=related-container>
    </table>
    </div>

    <div id="reference-list" class="header-context">
       <ol class="group">
         <li><strong>Guidance</strong></li>
         <li><a href="{% if url %}{{ url }}/guidance{% endif %}" class="govuk-link">{% if t %} {{t('pages.reference-links.guidance')}}{% endif %}</a></li>
         <li><a href="{% if url %}{{ url }}/appealstages{% endif %}" class="govuk-link">{% if t %} {{t('pages.reference-links.appeal-stages')}}{% endif %}</a></li>
         <li><a href="{% if url %}{{ url }}/exclusiondates{% endif %}" class="govuk-link">{% if t %} {{t('pages.reference-links.exclusion-dates')}}{% endif %}</a></li>
      </ol>
    </div>
{% endblock %}
