{{<partials-page}}
  {{$page-content}}
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    {{#input-submit}}calculate{{/input-submit}}
    <table>
        <div class=related-container>
    </table>
    </div>

    <div id="reference-list" class="header-context">
       <ol class="group">
         <li><strong>Guidance</strong></li>
         <li><a href="{{#url}}/guidance{{/url}}" class="govuk-link">{{#t}}pages.reference-links.guidance{{/t}}</a></li>
         <li><a href="{{#url}}/appealstages{{/url}}" class="govuk-link">{{#t}}pages.reference-links.appeal-stages{{/t}}</a></li>
         <li><a href="{{#url}}/exclusiondates{{/url}}" class="govuk-link">{{#t}}pages.reference-links.exclusion-dates{{/t}}</a></li>
      </ol>
    </div>
  {{/page-content}}
{{/partials-page}}
