{{<layout}}

{{$header}}What are ARE dates?{{/header}}

{{$content}}

If someone wants to appeal against the decision made by the Home Office or
Tribunal, they must do so before the Appeal Rights Exhausted (ARE) date.
If the person doesn’t appeal before this date, the decision becomes final.

<h1>How are ARE dates calculated?</h1>

ARE dates arise when a set number of days have passed since the most recent
Home Office or Tribunal decision has been made regarding a particular case.

The number of days is determined by the decision type and the
<a href="{{#url}}/appealstages{{/url}}">stage of the appeal</a>.
The ARE date can’t fall on a weekend or on an
<a href="{{#url}}/exclusiondates{{/url}}">{{#t}}exclusion date{{/t}}</a>, so
will fall on the next suitable date.

<table><div class=related-container>
</table>
</div>

<div id="reference-list" class="header-context">
   <ol role="guidance" class="group">
     <li><strong>Guidance</strong></li>
     <li><a href="{{#url}}/appealstages{{/url}}">{{#t}}pages.reference-links.appeal-stages{{/t}}</a></li>
     <li><a href="{{#url}}/exclusiondates{{/url}}">{{#t}}pages.reference-links.exclusion-dates{{/t}}</a></li>
  </ol>
</div>
{{/content}}

{{/layout}}
