name: Scan for Evil Packages

on:
  repository_dispatch:
    types: [trigger-from-scanmaestro]
  pull_request:
    branches: [master]

jobs:
  scan:
    runs-on: ubuntu-22.04
    steps:
      - name: Run Scan for Evil Packages
        uses: UKHomeOffice/hof-maestro-scanner/.github/actions/scan-for-evil-packages@HOFF-1960-clearer-notify-slack
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
