name: Scan for Evil Packages

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Echo scan message
        run: echo "Scanning for evil packages"
